<div class="container animated fadeIn fast" style="margin-top: 20px;">
    <br>
    <h1>Catalogo</h1>
    <hr>

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../../assets/remera.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
            <a class="btn btn-block btn-outline-info"> Ver más</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/remera.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-block btn-outline-info"> Ver más</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../../assets/remera.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a class="btn btn-block btn-outline-info"> Ver más</a>
            </div>
        </div>
    </div>