<footer class="footer py-4 bg-dark text-white-50">
    <div class="container text-center">
        <a>Encontranos en: </a>
        <!--
        <a href="https://fontawesome.com/icons/facebook-square?style=brands"> hola</a><i class="fa fa-facebook-square mr-5 ml-5"></i>
        <i class="fa fa-instagram mr-5"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        -->
        <a href="https://www.facebook.com/KoqFem/" class="col-md-4">

            <i class="fa fa-facebook"></i>

        </a>
        <a href="https://www.instagram.com/koqfem/?hl=es-la" class="col-md-4">

            <i class="fa fa-instagram"></i>

        </a>
        <a [routerLink]="['contacto']" class="col-md-4">

            <i class="fa fa-whatsapp"></i>

        </a>
    </div>
</footer>